<script>
    $('#com').click(function(e){
        e.preventDefault();
        console.log('button clicked');
        let comment = $("#comment").val();
        console.log(comment)
        let csr = $("input[name=csrfmiddlewaretoken]").val();
        data = {
            csrfmiddlewaretoken: csr,
            comment:comment,
        }
        $.ajax({
            url:"{% url 'comment' post.pk %}",
            method: "POST",
            dataType:'json',
            data : data,
            success:function(data){
                console.log(data);
                let r = data.comment;
                let count = data.comment.length;
                console.log(count);
                let output='';
                for(let i=0;i<count;i++)
                {
                    let y = data.comment[i].comment;
                    output+="<div class='alert alert-secondary comment' role='alert' id='commentdiv'>" + y + "</div>";
                }
                $("#baharkadiv").html(output);
                $("#comment").val('');
            }
        })
    })
</script>