{% extends 'blog/base.html' %}


{% block content %}
<div class="container">
    <div class="card card-login mx-auto mt-5">
       <div class="card-header card-srow">
           <div class="time-row">
               <time class="dt">{{ post.published_date }}</time>
           </div>
           <div class="title-row">
               <h4><u>{{ post.title }}</u></h4>
           </div>
            {% if post.image %}
                <img src="{{post.image.url}}">
            {% endif %}
       </div>
       <div class="card-body">
           <article class="text">
               {{ post.text|linebreaksbr }}
           </article>
       </div>
   </div>
   <form action="." method="POST" class="my-1">
       {% csrf_token %}
       <div class="form-group">
           <div class="row">
               <div class="col-10">
                {{form.comment}}
               </div>
               <div class="col-1">
                <button type="submit" id="com" class="btn btn-success">Comment</button>
               </div>
           </div>
       </div>
   </form>

   <div class="container my-3" id="baharkadiv">
       {% for c in comment %}
    <div class="alert alert-secondary" role="alert" id="commentdiv">
        {{c.comment}}
      </div>
      {% endfor %}
   </div>

</div>
{% block js %}
{% include 'blog/snippets/ajaxcomment.html' %}
{% endblock %}
{% endblock %}
