{% extends 'blog/base.html' %}

{% block content %}
{% for post in posts %}
    <div class="container">
        <div class="card card-login mx-auto mt-5">
           <div class="card-header card-srow">
               <div class="time-row">
                   <time class="dt">{{ post.published_date }}</time>
               </div>
               <div class="title-row text-center">
                   <a class="title" href="{% url 'detail' pk=post.pk %}">{{ post.title }}</a>
               </div>
           </div>
           <div class="card-body">
               <article class="text">
                   {{ post.text|linebreaksbr }}
               </article>
           </div>

           <!-- <a href="{% url 'password' %}" class="btn btn-dark">Enter Credentials</a> -->
       </div>
       <div>
           <a href="{% url 'password' %}" class="btn btn-dark" style="min-width: 200px;">Edit</a>
       </div>
    </div>
{% empty %}
    <h4 style="margin-top:10%; text-align:center;">No such micro-blog exists.</h4>
{% endfor %}
{% endblock %}
