{% extends 'blog/base.html' %}

{% block content %}
{% for post in posts %}
    <div class="container">
        <div class="card card-login mx-auto mt-5">
           <div class="card-header card-srow">
               <div class="time-row">
                   <time class="dt">{{ post.published_date }}</time>
               </div>
               <div class="title-row text-center">
                   <a class="title" href="{% url 'detail' pk=post.pk %}">{{ post.title }}</a>
               </div>
           </div>
           <div class="card-body">
               <article class="text">
                   {{ post.text|linebreaksbr }}
               </article>
           </div>


       </div>
       <div class="options">
           <div class="upv mt-1 mx-2">
               <ul class="px-0">
                   <li><a href="#" class="btn btn-success"><i class="fas fa-arrow-up"></i></a></li>
                   <li><p class="text-success text-center">123</p></li>
               </ul>
           </div>
           <div class="downv mt-1 mx-2">
               <ul class="px-0">
                   <li><a href="#" class="btn btn-danger"><i class="fas fa-arrow-down"></i></a></li>
                   <li><p class="text-danger text-center">123</p></li>
               </ul>
           </div>
           <div>
               <a href="{% url 'password' pk=post.pk %}" class="btn btn-dark mt-1 mx-2" style="max-width: 40px;"><i class="fas fa-edit"></i></a>
           </div>
       </div>
    </div>
{% empty %}
    <h4 style="margin-top:10%; text-align:center;">No such micro-blog exists.</h4>
{% endfor %}
{% endblock %}
