{% extends 'blog/base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/newPost_styles.css' %}" >

<div class="container my-4">
    <div class="jumbotron">
        <div class="mb-4">
            <h4>Add Post</h4>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{form.title}}
                {% for e in form.title.errors %}
                <div class="small alert-danger mt-2 text-center">{{e}}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{form.text}}
                {% for e in form.text.errors %}
                <div class="small alert-danger mt-2 text-center">{{e}}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{form.image}}
                {% for e in form.image.errors %}
                <div class="small alert-danger mt-2 text-center">{{e}}</div>
                {% endfor %}
            </div>
            <button  class="btn btn-primary" type="submit">Edit</button>
            <a href="{% url 'delete' pkk  %}" class="btn btn-danger" style="float:right;" type="submit">Delete</a>
        </form>
    </div>
</div>
{% endblock %}
