body {
    margin-bottom: 3%;
    background: url("../images/cool-background.png") no-repeat center center fixed;
    background-size: cover;
}

nav.bg-dark {
    background-image: linear-gradient(55deg, #99d6ff, #7733ff);
}

a.bnbr {
    font-family: sans-serif, serif;
    font-size: 30px;
    font-weight: 700;
}

a.ni {
    font-size: 22px;
}

a.cur {
    cursor: default;
}

a.title {
    font-family: sans-serif;
    font-size: 40px;
    margin-bottom: 0px;
    color: #000;
}

p.title {
    font-family: sans-serif;
    font-size: 40px;
    margin-bottom: 0px;
    color: #000;
    cursor: default;
}

article.text {
    cursor: default;
    font-size: 20px;
}

time.dt {
    font-family: cursive;
    cursor: default;
    float: right;
}

div.time-row {
    height: 26px;
}

div.title-row {
    line-height: 2.5rem;
}

div.title-row.pdet {
    padding-bottom: 14px;
}

div.card-header.card-srow {
    min-height: 67.2px;
    background-color: rgba(170, 163, 163, 0.35);
}

div.col-11.col-sm-11 {
    padding: 0px;
}

div.opt {
    margin-top: 44px;
    padding: 0px;
}

div.del-edit {
    margin: 8px 0px;
}

button.ansh {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 4px;
}

div.options {
    display: flex;
}

i.sham {
    color: #333333;
}

button.btn a {
    text-decoration: none;
}

button.btn-light {
    margin-top: 0px;
    background-color: #e6e6e6 !important;
}

button.btn-light:hover {
    background-color: #cccccc !important;
}

ul.dot {
    padding-left: 0px;
    margin-bottom: 0px;
    /* float: right; */
}

ul.dot li {
    list-style: none;
    margin: 0px 2px;
}

ul.dot li.show {
    margin-right: 0px;
}

ul.dot li.hide {
    display: none;
}

ul.dot li.hide.actv {
    /* float: none; */
}

button.afrm a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

li p {
    font-weight: 800;
}

div.cbox {
    width: 100%;
    margin-right: 4px;
}

div.commw {
    word-wrap: break-word;
}

div.cement {
    display: flex;
}

.my-3 {
    padding-right: 0px;
    padding-left: 0px;
}

@media screen and (max-width: 572px) {

    a.bnbr {
        font-size: 24px;
    }

    .my-3 {
        padding-left: 13px;
    }

    div.cbox {
        margin-left: 2.5%;
    }

    div.options {
        margin-left: 9px;
    }

    a.ni {
        font-size: 18px;
    }

    div.shh {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    div.shrink {
        max-width: 30rem;
    }

    .mx-auto {
        margin-left: 2.5% !important;
        margin-right: 0% !important;
    }

    button.ansh {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        padding-bottom: 6px;
    }

    a.title {
        line-height: 3.2rem;
    }

    p.title {
        line-height: 3.2rem;
    }
}


@media screen and (max-width:480px){
    img{
        width: 200px;
        height: 200px;
    }



    .my-3 {
        padding-left: 10.5px;
    }
}
